@use "./variables.scss" as v;

@mixin team-image() {
  width: 290px;
  height: 333px;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  right: 5vw;
}

@mixin solo-image() {
  width: 70%;
  height:60%;
  border-radius: 10px;
  z-index: 1;
  margin: 350px auto;
}